includes:
    - vendor/zentra-project/phpstan-zentra/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - .phpstan-baseline.php
    - .phpstan-baseline.missingType.iterableValue.php
    - .phpstan-baseline.specific.php

parameters:
    level: 8
    bootstrapFiles:
        - stubs/db_config_classes.php
        - stubs/zentra_constants.php
        - stubs/plugins_migrations_classes.php
    paths:
        - ajax
        - front
        - inc
        - install
        - src
    tmpDir: files/_cache/phpstan
    treatPhpDocTypesAsCertain: false
    universalObjectCratesClasses:
        - Sabre\VObject\Node
    dynamicConstantNames:
        - ZENTRA_AJAX_DASHBOARD
        - ZENTRA_ALLOW_IFRAME_IN_RICH_TEXT
        - ZENTRA_CACHE_DIR
        - ZENTRA_CALDAV_IMPORT_STATE
        - ZENTRA_CENTRAL_WARNINGS
        - ZENTRA_CONFIG_DIR
        - ZENTRA_CRON_DIR
        - ZENTRA_DISABLE_ONLY_FULL_GROUP_BY_SQL_MODE
        - ZENTRA_DISALLOWED_UPLOADS_PATTERN
        - ZENTRA_DOC_DIR
        - ZENTRA_DOCUMENTATION_ROOT_URL
        - ZENTRA_ENVIRONMENT_TYPE
        - ZENTRA_FORCE_MAIL
        - ZENTRA_GRAPH_DIR
        - ZENTRA_INSTALL_MODE
        - ZENTRA_INVENTORY_DIR
        - ZENTRA_LOCAL_I18N_DIR
        - ZENTRA_LOCK_DIR
        - ZENTRA_LOG_DIR
        - ZENTRA_LOG_LVL
        - ZENTRA_MARKETPLACE_ALLOW_OVERRIDE
        - ZENTRA_MARKETPLACE_DIR
        - ZENTRA_MARKETPLACE_ENABLE
        - ZENTRA_MARKETPLACE_MANUAL_DOWNLOADS
        - ZENTRA_MARKETPLACE_PLUGINS_API_URI
        - ZENTRA_MARKETPLACE_PRERELEASES
        - ZENTRA_NETWORK_API_URL
        - ZENTRA_NETWORK_REGISTRATION_API_URL
        - ZENTRA_NETWORK_MAIL
        - ZENTRA_NETWORK_SERVICES
        - ZENTRA_PICTURE_DIR
        - ZENTRA_PLUGIN_DOC_DIR
        - ZENTRA_PLUGINS_DIRECTORIES
        - ZENTRA_RSS_DIR
        - ZENTRA_SERVERSIDE_URL_ALLOWLIST
        - ZENTRA_SESSION_DIR
        - ZENTRA_SKIP_UPDATES
        - ZENTRA_STRICT_ENV
        - ZENTRA_SYSTEM_CRON
        - ZENTRA_TELEMETRY_URI
        - ZENTRA_TEXT_MAXSIZE
        - ZENTRA_THEMES_DIR
        - ZENTRA_TMP_DIR
        - ZENTRA_UPLOAD_DIR
        - ZENTRA_USE_CSRF_CHECK
        - ZENTRA_USER_AGENT_EXTRA_COMMENTS
        - ZENTRA_VAR_DIR
        - ZENTRA_WEBHOOK_ALLOW_RESPONSE_SAVING
        - ZENTRA_WEBHOOK_CRA_MANDATORY
        - ZENTRA_ALTCHA_MODE
        - ZENTRA_ALTCHA_MAX_NUMBER
        - ZENTRA_ALTCHA_EXPIRATION_INTERVAL
        - TU_USER
    ignoreErrors:
        -
            message: '~LDAP\\Connection~'
            reportUnmatched: false
        -
            message: '~/(xhprof_runs\.php|xhprof_lib\.php|downstream\.php|local_define\.php|config_db\.php|config_db_slave\.php)" is not a file or it does not exist.~'
            reportUnmatched: false

# Copy and uncomment this content into a "phpstan.neon" file to add your own config values
#
## Mandatory include:
#
#includes:
#    - phpstan.neon.dist
#
## Custom config values
## Example: using more process that the default configuration
#
#parameters:
#   parallel:
#       maximumNumberOfProcesses: 8
